
.Caja{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 70%;
    height: 100%;

}


.canvasBody{
    width: 50%;
    height: 50%;
    border: 2px solid black;
}


.izquierdaDelCanvas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}

.izquierdaDelCanvas .boton{
    border:2px solid black;
    padding: 15px 32px;
}

table, th, td {
    border:2px solid black;
}


footer {
    text-align: left;
}